/* =====================================================
   DETAIL MODAL
   Gallery
===================================================== */


/* =====================================================
   Gallery Grid
===================================================== */

.dm-gallery {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 15px;

    margin-bottom: 10px;

}


/* =====================================================
   Gallery Item
===================================================== */

.dm-gallery-item {

    border: 1px solid #ddd;

    border-radius: 14px;

    overflow: hidden;

}


/* =====================================================
   Gallery Image
===================================================== */

.dm-gallery-item img {

    width: 100%;

    height: 100%;

    object-fit: cover;

}


/* =====================================================
   Gallery Caption
===================================================== */

.dm-gallery-item div {

    padding: 10px;

    text-align: center;

}


/* =====================================================
   Responsive
===================================================== */

@media (max-width: 768px) {

    .dm-gallery {

        grid-template-columns: repeat(2, 1fr);

    }

}


@media (max-width: 500px) {

    .dm-gallery {

        grid-template-columns: 1fr;

    }

}